
form{
    width:350px;
    justify-content: center;
    margin-left: 200px;
}
.inputDiv{
    background-color: lightskyblue;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.error{
    background-color: darksalmon;
}